mixin cards()
    +b('section').cards
        +e.container
            +e.chapter
                img(src='./images/click.svg')
                +e.chapter-text кликните на одну из карточек
            +e.content
                +e.card(id = 'card')
                    +e.face.card__face-front
                        img(src='./images/cart_1.png')
                    +e.face.card__face-back
                        img(src='./images/cart_1-back.png')
                        +e.face-title Вас ждет проект, который принесет хороший доход и раскроет ваши таланты
                        +e.face-text Предсказание: Вы будете заниматься любимым делом и зарабатывать хорошие деньги. Поэтому побалуйте себя и купите что-нибудь приятное. С бесплатной дебетовой картой Ozon Банка у вас будет кешбэк до 25% в рублях, а до конца октября – шанс поучаствовать в Акции и вернуть 100% кешбэка за любые покупки вне Ozon


