mixin cards()
    +b('section').cards
        +e.container
            +e.chapter
                img(src='./images/click.svg')
                +e.chapter-text кликните на одну из карточек
            +e.content

            +e.content-mobile
                
            +e.restart
                img(src='./images/restart.svg')
                +e.chapter-text попробовать еще раз


