.cards
    background-color $c-blue
    padding-top w(85)
    overflow hidden
    height 100vh
    +below(5344px)
        padding-top w(395)
    +below(3395px)
        padding-top 2%
    +below(800px)
        padding-top wm(131)

    &__chapter
        text-align center
        color $c-white
        font-size w(64)
        +below(800px)
            font-size wm(48)

    &__chapter-text
        font-weight 700
        font-family $ff-GTEestiProDisplayRegular

    &__content
        display flex
        justify-content center
        margin-top w(30)
        +below(800px)
            margin-top wm(84)

    &__card
        margin-right w(60)
        transition 0.2s ease-in-out
        cursor pointer
        transform-style preserve-3d
        &:hover
            margin-top w(-25)
        &:last-child
            margin-right 0

    &__face
        width w(750)
        -webkit-backface-visibility hidden
        backface-visibility hidden
        transition 1s ease-in-out
        -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
        img
            width 100%
            height 100%
            -o-object-fit cover
            object-fit cover
        +below(800px)
            width wm(650)
            height wm(988)

    &__face-title
        position absolute
        color $c-white
        text-align center
        font-family $ff-GTEestiProDisplayRegular
        font-size w(53)
        font-weight 700
        top 40%
        padding 0 w(400) 0 w(460)
        +below(5344px)
            padding 0 w(440) 0 w(480)
            font-size w(50)
        +below(800px)
            padding 0
            padding 0 wm(90) 0 wm(120)
            font-size wm(50)
            top 20%

    &__face-text
        color $c-white
        font-family $ff-GTEestiProDisplayRegular
        text-align center
        font-size w(38)
        font-weight 400
        width w(1509)
        a
            color $c-white
        +below(800px)
            width wm(680)
            font-size wm(38)
            text-align justify


    &__restart
        text-align center
        color $c-white
        font-size w(64)
        margin-top w(300)
        cursor pointer
        +below(800px)
            margin-top wm(540)
            font-size wm(48)

.bold-text
    font-weight 700

.back-img
    width w(750)
    +below(800px)
        width wm(649)

.flipped
    transform rotateY(180deg)
    width w(1509)
    margin-right w(170)
    +below(800px)
        width wm(649)
    // +below(5344px)
    //     margin w(50) 

.card__face-back
    position absolute
    left 0
    top 0
    transform rotateY(0.5turn)
    width w(1509)
    display flex
    flex-direction column
    align-items center
    +below(800px)
        width wm(649)