.cards
    background-color $c-blue
    padding-top w(85)
    overflow hidden
    height 100vh
    +below(3395px)
        padding-top 2%
    +below(800px)
        padding-top wm(30)
        overflow visible

    &__img
        border-radius w(40)
        box-shadow w(-40) w(40) 0 0 rgba(14, 26, 115, 1)
        +below(800px)
            border-radius wm(25)
            box-shadow wm(-25) wm(25) 0 0 rgba(14, 26, 115, 1)

    &__chapter
        text-align center
        color $c-white
        font-size w(64)
        img
            width w(90)
            +below(800px)
                width wm(60)
        +below(800px)
            font-size wm(40)

    &__chapter-text
        font-weight 400
        font-family $ff-GTEestiProDisplayRegular

    &__content
        display flex
        justify-content center
        margin-top w(30)
        +below(800px)
            margin-top wm(5)

    &__card
        margin-right w(60)
        transition 0.5s ease-in-out
        cursor pointer
        transform-style preserve-3d
        &:hover
            margin-top w(-25)

        &:last-child
            margin-right 0

            .cards__face-text
                right 54%

        &:first-child
            .cards__face-text
                left 54%
                +below(800px)
                    left -25%

    &__face
        width w(750)
        -webkit-backface-visibility hidden
        backface-visibility hidden
        transition 1s ease-in-out
        -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
        img
            width 100%
            height 100%
            -o-object-fit cover
            object-fit cover
        +below(800px)
            width wm(470)

    &__face-title
        position absolute
        color $c-white
        text-align center
        font-family $ff-GTEestiProDisplayRegular
        font-size w(50)
        font-weight 700
        top 30%
        padding 0 w(400) 0 w(460)
        line-height w(62)
        text-shadow: 3px 3px 2px rgba(87, 87, 87, 1);
        +below(5344px)
            padding 0 w(80) 0 w(80)
            font-size w(50)
        +below(800px)
            padding 0
            padding 0 wm(65) 0 wm(90)
            font-size wm(35)
            line-height wm(50)
            top 23%

    &__face-text
        position fixed
        top 101%
        margin auto
        color $c-white
        font-family $ff-GTEestiProDisplayRegular
        text-align center
        font-size w(38)
        font-weight 400
        width w(1509)
        line-height w(50)
        cursor auto
        opacity 0
        transition opacity 1.5s ease-in-out
        transition-delay 0.5s
        a
            color $c-white
        +below(800px)
            top 103%
            width wm(700)
            line-height wm(40)
            font-size wm(25)


    &__restart
        text-align center
        color $c-white
        font-size w(64)
        margin-top w(300)
        cursor pointer
        img
            width w(90)
            +below(800px)
                width wm(80)
        +below(800px)
            margin-top wm(370)
            font-size wm(35)

.bold-text
    font-weight 700

.back-img
    width w(750)
    +below(800px)
        width wm(470)

.flipped
    transform rotateY(180deg)
    // width w(1509)
    +below(800px)
        width wm(470)

.card__face-back
    position absolute
    left 0
    top 0
    transform rotateY(0.5turn)
    display flex
    flex-direction column
    align-items center
    +below(800px)
        width wm(470)

.active
    opacity 1